fastapi
uvicorn[standard]
aiogram
sqlalchemy
jinja2
python-multipart
httpx
python-dotenv
starlette
itsdangerous
aiofiles
pydantic
requests
cryptography
pyjwt
psycopg[binary]
Pillow
openpyxl
pypdf
python-docx
